NEXT_PUBLIC_SUPABASE_URL=https://nhjrlosdltsajcawycko.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oanJsb3NkbHRzYWpjYXd5Y2tvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg0NzgyNjksImV4cCI6MjEwNDA1NDI2OX0.OmfCF4YqMmSSvSEm28bD6eVYKOACi6NHPoD5R4d35rQ
